@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


  html { 
    background: url("../img/abed-ismail-_jhUrn9o8yM-unsplash.jpg") no-repeat 
      center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

    
  html {
      font-family: 'Bebas Neue', cursive;
    }
    
    h1 {
      color: #fff;
      padding: 10px;
    }
    
    .box {
      max-width: 600px;
      margin: 50px auto;
      margin-top: 129px;
      background: darkslategrey;
      border-radius: 5px;
      box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    }
    
    #heading {
      background-color: darkslategrey;
      text-align: center;
    }

    p {
      margin: 0;
      padding: 20px;
      font-size: 25px;
      font-weight: 200;
      color: white;
    }
    
    form {
      text-align: center;
      margin-left: 20px;
    }
    
    button {
      min-height: 50px;
      width: 50px;
      border-radius: 50%;
      border-color: transparent;
      background-color: darkslategrey;
      color: #fff;
      font-size: 25px;
      padding-bottom: 6px;
      border-width: 0;
      cursor: pointer;
    }
    
    input[type="text"] {
      text-align: center;
      height: 60px;
      top: 10px;
      border: none;
      background: darkslategray;
      font-size: 20px;
      font-weight: 200;
      width: 313px;
      box-shadow: inset 0 -1px 0 0 whitesmoke;
    }

    input[type="text"]:focus {
      outline: none;
      box-shadow: inset 0 -3px 0 0 darkred;
    }

    input[type=submit] {
      background-color: darkslategrey;
      border: none;
      font-family: 'Bebas Neue', cursive;
      font-size: 22px;
      color: whitesmoke;
      padding: 16px 32px;
      margin: 4px 2px;
      cursor: pointer;
    }

    label {
      border: none;
      color: black;
      padding-right: 100px;
      margin: auto;
      font-size: 22px;
    }

    ::placeholder {
      color: grey;
      opacity: 1;
    }
    
    footer {
      color: beige;      ;
      text-align: center;
    }

    